<p id="notice"><%= notice %></p>

<div class="card">
  <img class="card-img-top" src="http://via.placeholder.com/700x300" alt="">
  <div class="card-body">
    <h4 class="card-title"><%= @project.title %></h4>
    <p class="card-text"><%= @project.location %></p>
    <p class="card-text">
      <% @project.needs.each do |need| %>
        <%= link_to need.name, need, class: "badge badge-pill badge-primary" %>
      <% end %>
    </p>
  </div>
  <div class="card-footer">
    <%= link_to 'Edit', edit_project_path(@project), class: "card-link" %>
    <%= link_to 'Back', projects_path, class: "card-link" %>
  </div>
</div>

<div class="my-5">
  <button class="btn btn-primary form-control"
          data-toggle="collapse" data-target="#providersList">
    Show Available Providers
  </button>

  <div id="providersList" class="collapse">
    <ul class="list-group list-group-flush">
      <% @project.providers.provider_list.each do |provider| %>
        <li class="list-group-item">
          <%= provider['name'] %>
          <% (provider['serviceProvided'] & @project.providers.needs).each do |need| %>
            <span class="badge badge-secondary badge-pill"><%= need %></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
