<p id="notice"><%= notice %></p>

<div class="card">
  <img class="card-img-top" src="http://via.placeholder.com/700x300" alt="">
  <div class="card-body">
    <h4 class="card-title"><%= @project.title %></h4>
    <p class="card-text"><%= @project.location %></p>
    <p class="card-text">
      <%= @project.description %>
    </p>
    <p class="card-text">
      <% @project.needs.each do |need| %>
        <%= link_to need.name, need, class: "badge badge-pill badge-primary" %>
      <% end %>
    </p>
    <p class="card-text">
      <%= link_to "Show bookings", project_bookings_path(@project), class: "btn btn-primary" %>
    </p>
  </div>
  <ul class="list-group">
    <% @project.provider_ids.each do |pid| %>
      <li class="list-group-item">
        <% @project.providers.provider_list.select{|p| p['id'] == pid}.each do |provider| %>
          <%= provider['name'] %>
          <% (provider['serviceProvided'] & @project.providers.needs).each do |need| %>
            <span class="badge badge-secondary badge-pill"><%= need %></span>
          <% end %>
          <%= link_to 'Book', new_project_booking_path(@project, q: pid), class: "ml-auto" %>
        <% end %>
      </li>
    <% end %>
  </ul>
  <div class="card-footer">
    <%= link_to 'Edit', edit_project_path(@project), class: "card-link" %>
    <%= link_to 'Back', projects_path, class: "card-link" %>
  </div>
</div>

<div class="my-5">
  <button class="btn btn-primary form-control"
          data-toggle="collapse" data-target="#providersList">
    Show Available Providers
  </button>

  <div id="providersList" class="collapse">
    <ul class="list-group list-group-flush">
      <% @project.providers.provider_list.each do |provider| %>
        <li class="list-group-item">
          <%= provider['name'] %>
          <% (provider['serviceProvided'] & @project.providers.needs).each do |need| %>
            <span class="badge badge-secondary badge-pill"><%= need %></span>
          <% end %>
          <button class="btn btn-sm btn-primary float-right" data-toggle="modal" data-target="#providerModal<%= provider['id'] %>">Show details</button>
        </li>

        <div id="providerModal<%= provider['id']%>" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title"><%= provider['name'] %></h5>
              </div>
              <div class="modal-body">
                <div class="col-xs-12">
                  <img class="img-fluid" src="<%= provider['logo'] %>" alt="" />
                </div>
                <p><%= provider['address'] %></p>
                <p><%= provider['phone'] %></p>
                <p><%= provider['location'] %></p>
                <p><%= link_to 'Homepage', provider['url'] %></p>
                <p>
                  <% provider['serviceProvided'].each do |service| %>
                    <span class="badge badge-secondary badge-pill"><%= service %></span>
                  <% end %>
                </p>
                <%= link_to 'Add to Project', project_add_provider_path(@project, provider['id']), method: :post, class:  "btn btn-primary form-control" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </ul>
  </div>
</div>

